
<div class="container">
	<div class="col-md-12">
		<h1>Editing Host</h1>
	</div>

	<div class="col-md-12">
		<%= render 'form' %>
	</div>

	<div class="col-md-12">
		<%= link_to 'Show', @host, :class => 'btn btn-primary', :role => 'button' %>
		<%= link_to 'Back', hosts_path, :class => 'btn btn-default', :role => 'button' %>
	</div>
</div>
