
<div class="container">
	<div class="col-md-12">
		<h1 class="well">Listing Hosts</h1>
	</div>

	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-6">Name</th>
					<th class="col-md-6">Actions</th>
				</tr>
			</thead>

			<tbody>
				<% @hosts.each do |host| %>
					<tr>
						<td class="col-md-8"><%= host.name %></td>
						<td class="col-md-4">
							<%= link_to 'Show', host, :class => 'btn btn-info' %>
							<%#= link_to 'Edit', edit_host_path(host), :class => 'btn btn-success' %>
							<%= link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'  %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

<!-- 	<div class="col-md-12">
		<%= link_to 'New Host', new_host_path, :class => 'btn btn-primary', :role => 'button' %>
	</div> -->
</div>
