<div class="container">
	<div class="col-md-12">
		<p id="notice"><%= notice %></p>
	</div>

	<div class="col-md-12">
		<%= link_to 'Edit', edit_host_path(@host), :class => 'btn btn-primary', :role => 'button' %>
		<%= link_to 'Back', hosts_path, :class => 'btn btn-default', :role => 'button' %>
	</div>
</div>
